<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>BASE_API_URL</key>
	<string>$(BASE_API_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.nippuracademy.application</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nippuracademy</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>PASS_PHRASE</key>
	<string>$(PASS_PHRASE)</string>
	<key>UIAppFonts</key>
	<array>
		<string>avenir-arabic-black.otf</string>
		<string>avenir-arabic-regular.otf</string>
		<string>avenir-arabic-book.otf</string>
		<string>avenir-arabic-heavy.otf</string>
		<string>avenir-arabic-light.otf</string>
		<string>avenir-arabic-medium.otf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-ExtraBold.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>IBMPlexSansArabic-SemiBold.ttf</string>
		<string>IBMPlexSansArabic-Medium.ttf</string>
		<string>IBMPlexSansArabic-Bold.ttf</string>
		<string>IBMPlexSansArabic-ExtraLight.ttf</string>
		<string>IBMPlexSansArabic-Light.ttf</string>
		<string>IBMPlexSansArabic-Regular.ttf</string>
		<string>IBMPlexSansArabic-Thin.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>VDO_KEY</key>
	<string>$(VDO_KEY)</string>
</dict>
</plist>
